.partner_flex {
    width: 95%;
    height: 400px;
    margin-top: 75px;
}

.partner_brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 5px;
    flex-wrap: wrap;
}

.partner_brands img {
    margin-top: 35px;
    width: 325px;
    height: 150px;
}

.partner_text {
    text-align: center;
}

.partner_text h2 {
    margin-top: 50px;
    margin-bottom: -15px;
    font-size: 6rem;
    font-weight: 400;
    color: white;
    text-shadow: 0 10px 11px black;
}

.partner_text p {
    margin-top: -rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 10px 11px black;
}


