.footer_flex {
    max-width: 1400px;
    margin-inline: auto;
    background-color: rgba(255, 255, 255, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 300px; */
    
    /* flex-direction: column; */
}

.footer_area {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}

.footer_desc {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 300px;
    height: 225px;
    text-align: center;
}

.footer_desc h2 {
    margin-top: 75px;
    margin-bottom: 5px;
    color: rgb(231, 230, 230);
    text-shadow: 0 0 15px black;
}

.footer_desc p {
    margin-top: 3px;
    color: rgb(231, 230, 230);
}

.footer_desc i {
    margin-bottom: 10px;
}

/* .footer_desc img {
    margin-top: 15px;
} */


.footer_desc .footer-social a {
    margin: 0px 5px;
    padding-top: 85px;
}












