@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200;1,300&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.containerr {
  
  /* giving margin inline: auto to give left and right margin at the same time so that container will remain in center */
}

.containerr {
    height: 100%;
    background-image: url('../public/assets/images/glass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}